.banner_image img{
    width: 100%;
}
.swiper-button-next, .swiper-button-prev{
    color: #000 !important;
}
.card-service{
    border-radius: 0;
}
.card-service:hover{
    z-index: 2;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}
.buybtn{
    font-weight: 600;
}
.about_us_page-section{
    padding-bottom: 0!important;
}
.post-thumb{
    text-align: center;
}
.navbar_custom{
    position: sticky;
    top: 0;
}
.bestsellerclass{
    cursor: pointer;
}
.about_us_image{
    width:100%
}
@media screen and (max-width: 768px){
    .swiper-button-next, .swiper-button-prev{
        display: none !important;
    }
    .about_us_image{
        width:100%
    }
}

